* {
  padding: 0;
  margin 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
}

#pageDiv {
  /* background-color: #dedede; */
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.logoContainer {
  /* background-color: gray; */
  margin-left: 10px;
  margin-top: 20px;
  border: black 2px solid;
  width: 250px;
  display: flex;
  box-shadow: 12px 12px 6px black;
}

.mainNavigation {
  background-color: transparent;
  background-image: linear-gradient(95deg, #007895 0%, #00a7ce 80%);
  border: black 2px solid;
  height: 80px;
  margin: 60px 10px 20px 10px;
  text-align: center;
  box-shadow: 1px 1px 4px #000;
  display: block;
}

.mainNavigation ul {
  /* background-color: lightblue; */
}

.mainNavigation ul li {
  float: left;
  padding: 25px 80px;
  font-size: 26px;
  color: black;
}

.mainNavigation ul li:hover {
  background-color: #edf2f3;
  border-radius: 50%;
}

.insideNav {
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainContainer {
  /* background-color: yellow; */
  margin: 20px 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 12fr;
  grid-column-gap: 20px;
}

.sidebar {
  background-color: transparent;
  background-image: linear-gradient(180deg, #007895 20%, #00a7ce 80%);
  border: black 2px solid;
  width: 100%;
  box-shadow: 1px 1px 4px #000;
  text-align: center;
  font-size: 26px;
}

.sidebar ul li {
  padding: 10px 0px;
  text-decoration: none;
  color: black;
}

.siderbar a {
  color: #000;
  border: 3px black solid;
}

.sidebar li:hover {
  background-color: #edf2f3;
  border-radius: 2px;
}

.contentContainer {
  /* background-color: #9c5f51; */
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.contentRow1 {
  /* background-color: #b1993c; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imageContainer {
  border: 2px black solid;
  background-color: #edf2f3;
  min-width: 350px;
  max-width: 350px;
  /* padding: 10px; */
  margin-right: 10px;
  min-height: 270px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: 1px 1px 4px #000;
  display: block;
}

.imageContainer a img {
  width: 350px;
  border-radius: 10px;
}

.imageContainer:hover {
  background-color: #007895;
}

.imageContainer:hover .line {
  background-color: #edf2f3;
}

.line1 {
  background-color: #007895;
  width: 440px;
  height: 2px;
  transform: translate(-46px, 135px) rotate(37.6deg);
}

.line2 {
  background-color: #007895;
  width: 440px;
  height: 2px;
  transform: translate(-46px, 132px) rotate(-37.6deg);
}

.article0 {
  border: 2px black solid;
  background-color: #edf2f3;
  min-height: 250px;
  padding: 10px;
  box-shadow: 1px 1px 4px #000;
}

.article0 a {
  color: black;
}

.article0 a:hover {
  color: #007895;
}

.contentRow2 {
  /* background-color: #b1993c; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imageContainer2 {
  margin-left: 10px;
  margin-right: 0px;
  align-items: center;
}

.contentRow3 {
  /* background-color: #b1993c; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  border: 2px black solid;
  height: 80px;
  margin: 20px 10px;
  text-align: center;
  box-shadow: 1px 1px 4px #000;
  background-color: transparent;
  background-image: linear-gradient(95deg, #007895 0%, #00a7ce 80%);
}

.footerNavigation {
  width: 100%;
  font-size: 24px;
  padding: 10px 0 0 0;
}

.footerNavigation a {
  margin: 0 40px;
  color: black;
}

.footerNavigation a:hover {
  color: #edf2f3;
  border-radius: 3px;
  padding: 10px 0 10px 0;
}

/* responsive burger design */
.burger {
  /* background-color: gray; */
  /* border: black 2px solid; */
  border-radius: 0;
  display: none;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: #edf2f3;
  margin: 6px;
}

@media screen and (max-width: 1140px) {
  .mainNavigation ul li {
    float: left;
    padding: 25px 40px;
    font-size: 20px;
    color: black;
  }

  .sidebar {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .mainNavUl {
    display: none;
    /* background-color: lightblue; */
  }

  .mainNavUl-active {
    display: block;
    float: left;
    padding: 0px 80px;
    font-size: 26px;
    color: black;
  }


.insideNav {
  justify-content: flex-end;
}

  .insideNav-active {
    justify-content: flex-end;
    align-items: flex-start;
    background-color: transparent;
    background-image: linear-gradient(95deg, #007895 0%, #00a7ce 80%);
    border: 2px black solid;
    height: 340px;
    left: 0px;
    right: 0px;
    margin: -2px 18px 0 18px;
    position: fixed;
    z-index: 999;
  }

  .sidebar {
    font-size: 12px;
  }

  .burger {
    margin-right: 20px;
    display:block;
  }

  .burger-active {
    margin-right: 20px;
    display:block;
    margin-top: 20px;
  }


  .contentRow1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contentRow2 {
    flex-direction: column;
  }
  .contentRow3 {
    flex-direction: column;
  }
  .imageContainer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    align-items: center;
  }

  .imageContainer1{
    margin-top: 0;
  }

  .article0 {
    /* background-color: #c3cbdf; */
    min-height: 250px;
    padding: 10px;
    box-shadow: 1px 1px 4px #000;
    margin-top: 10px;
    margin: 10px 5px 0 5px;;
  }
}
